<div class="container">
    <h1 mat-dialog-title >Liste des outils</h1>

<div class="grid-table">
    <div class="thead">
        <div class="tr">
            <div class="td">Date</div>
            <div class="td">Source</div>
            <div class="td">
                <button class="btn btn-outline-success" (click)="addSallesForms()">
                    <i class="fa fa-plus"></i> Nouvel Outil
                </button>
            </div>
            
           
            <div class="td">
                <span *ngIf="notification" class="elementToFadeInAndOut">
                    <i class="fas fa-check-circle {{notification.class}}"></i>
                    {{notification.message}}
                </span>
            </div>
        </div>
    </div>
    <div class="tbody">
        <form class="tr"  [formGroup]="fg" *ngFor="let fg of salleForms.controls, let i=index" (submit)="recordSubmit(fg)">
            <div class="td">
                    <input class="form-control" formControlName="DateOutil" type="date" >
            </div>
            <div class="td">
                <input class="form-control" formControlName="Source" type="text" >                
            </div>
            <div class="td">
                <button type="submit" class="btn btn-success" [disabled]="fg.invalid"
                [ngClass]="(fg.get('IdOutil').value==0)?'btn-success':'btn-outline-dark'"> <i class="far fa-save fa-lg"></i> 
                    <!-- tester le codefil si =0 submit sinon le botton c'est un update -->
                    {{fg.get('IdOutil').value==0?'Submit':'Update'}}
                </button>

                <button type="button" class="btn btn-light ml-1" (click)="onDelete(fg.get('IdOutil').value,i)">
                    <i class="far fa-trash-alt fa-lg text-danger"></i>
                </button>
            </div>
         
        </form>
    </div>
</div></div>